<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de funcionário</title>
</head>
<body>
    <form method="POST" action="/funcionario/excluir/:cpf?_method=DELETE">
        <label for="cpf">Cpf:</label>
        <br>
        <input type="text" name="cpf" id="cpf" required>
        <br><br>
        <button type="submit">Deletar</button>
    </form>
</body>
</html>