<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incuir funcionário</title>
</head>
<body>
    <form action="funcionario/cadastrar" method="POST">
        <label for="data">Data de criação:</label>
        <br>
        <input type="date" name="dataCad" id="dataCad">
        <br><br>
        <label for="cargo">Cargo:</label>
        <br>
        <input type="text" name="cargo" id="cargo">
        <br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>